[requires]
{{#conan}}
{{name}}/{{version}}{{#account}}@{{acc_name}}/{{channel}}{{/account}}
{{/conan}}

[options]
{{#conan}}
{{#options}}
{{name}}:{{option}}={{value}}
{{/options}}
{{/conan}}

[generators]
cmake
